.background {
  background-image: url('../../images/BG1.jpg');
  height: 120vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: -6rem;
}
