.about-background {
  background-color: #061628;
  height: auto;
  font-family: 'Roboto', sans-serif;
}

.about-header {
  padding-top: 3%;
  color: white;
}

.about-content {
  padding: 2%;
  margin: auto;
  width: 40%;
  color: #889098;
  font-size: 1.3rem;
  /* padding-bottom: 6%; */
}

.dlcv {
  margin: 6%;
}
